<div class="container-fluid text-center">
    <h1 class="AboutUs">About us</h1>
</div>

<div class="container-fluid text-center rectangle89">
    <img src="assets/image/logoA.png" class="img-fluid" alt="logo">
</div>

<div class="container-fluid text-center ourStory">
    <h5>Caption</h5>
    <h3>Our Story</h3>
    <p>At ReturnSimple, we are dedicated to providing Product Return of the highest quality to our customers. We have a
        team of skilled and experienced professionals who are committed to ensuring that our customers are completely
        satisfied with every aspect of their experience with us.
        Our company was founded in 2023 and since then we have been growing and expanding to meet the needs of our
        customers. We take pride in our reputation for providing exceptional service and for the strong relationships we
        have built with our customers over the years. We offer a wide range of Product Return that are tailored to meet
        the specific needs of our customers. Whether you are looking for Product Return, we have the expertise and
        resources to help. In addition to our commitment to providing outstanding products and services, we also place a
        strong emphasis on sustainability and corporate social responsibility. We are dedicated to reducing our
        environmental footprint and to giving back to the communities in which we operate. If you would like to learn
        more about our company or the products and services we offer, please do not hesitate to contact us. We would be
        more than happy to answer any questions you may have.</p>
</div>

<!-- connect with add -->

<div class="container-fluid text-center connect">
    <div class="container-fluid">
        <h5>We have handled consumers returns from a variety of brands</h5>
    </div>
    <div class="col-12 container-fluid">
        <a href="#"><img src="assets/image/bestBuy.png" class="img-fluid padding" alt="Best Buy"></a>
        <a href="#"><img src="assets/image/walmart.png" class="img-fluid padding" alt="Walmart"></a>
        <a href="#"><img src="assets/image/amazon.png" class="img-fluid padding" alt="Amazon"></a>
        <a href="#"><img src="assets/image/zara.png" class="img-fluid padding" alt="Zara"></a>
        <a href="#"><img src="assets/image/Zappos.png" class="img-fluid padding" alt="Zappos"></a>
        <a href="#"><img src="assets/image/poshmark.png" class="img-fluid padding" alt="Poshmark"></a>
    </div>
</div>