<div class="wrapper container">
    <img src="src/assets/image/image.png" class="img-fluid" alt="">

    <div class="container">
        <div class="row">
            <p class="main-text1 w-auto p-3 h-auto d-inline-block">
                Return your product without leaving Your Home!
            </p>
        </div>
        <div class="row">
            <p class="main-text2 w-auto p-3 h-auto d-inline-block">
                We pick up returns purchased from any online retailer. No more printing labels, packaging or trips to
                the
                post
                office
            </p>
        </div>
        <div class="row">
            <div class="col rectangle7">
                <p id="getStarted">
                    Get Started
                </p>
            </div>
            <div class="col rectangle8">
                <p id="ourPricing">
                    Our Pricing
                </p>
            </div>
        </div>
        <div class="row">
            <div class="zipCode">
                <p id="ourPricing">
                    Enter Zip code
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container ">
    <p style="font-size: 20px; font-family: Poppins; font-weight: 500; text-align: center; margin-top: 10px;">
        We have handled consumers returns from a variety of brands
    </p>
</div> -->

<!-- How it works -->
<div class="container">
    <p
        style="margin-bottom: -2%; color: #000000; font-family: Cardium B; font-style: normal; font-size: 50px; font-weight: 600; line-height: 89px; text-align: center;">
        How <span style="color: #7DF9FF;"> it works</span>
    </p>
    <p style="font-family: Cardium B; font-style: normal; font-size: 20px;
     font-weight: 400; line-height: 28px; text-align: center; letter-spacing: 0.08em;">
        Send back returns in minutes
    </p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mx-auto">
        <div class="col mb-4 d-flex justify-content-center">
            <div class="card cardProperties">
                <p
                    style="margin-bottom: 0%; text-align: end; margin-right: 2%; font-family: 'Cardium B'; font-style: normal; font-weight: 600; font-size: 32px; line-height: 44px;">
                    01</p>
                <img src='assets/image/678120.png' width="76px" height="76px" alt="">
                <div class="card-body">
                    <h5 class="card-title">Schedule your pickup</h5>
                    <p class="card-text d-flex">Enter your pickup information and upload your return label</p>
                </div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-center">
            <div class="card cardProperties">
                <p
                    style="margin-bottom: 0%; text-align: end; margin-right: 2%; font-family: 'Cardium B'; font-style: normal; font-weight: 600; font-size: 32px; line-height: 44px;">
                    02</p>
                <img src='assets/image/678120.png' width="76px" height="76px" alt="">
                <div class="card-body">
                    <h5 class="card-title">Select your pickup method</h5>
                    <p class="card-text">Leave your package on the doorstep or choose direct handoff </p>
                </div>
            </div>
        </div>
        <div class="col mb-4 d-flex justify-content-center">
            <div class="card cardProperties">
                <p
                    style="margin-bottom: 0%; text-align: end; margin-right: 2%; font-family: 'Cardium B'; font-style: normal; font-weight: 600; font-size: 32px; line-height: 44px;">
                    03</p>
                <img src='assets/image/678120.png' width="76px" height="76px" alt="">
                <div class="card-body">
                    <h5 class="card-title">Get real-time updates</h5>
                    <p class="card-text">You receive a text when it’s been shipped</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- We'll pick up & ship almost everything -->

<div class="container" style="margin-top: 12px;">
    <div class="row">
        <div class="col-md-7" style="margin-top: auto; margin-bottom: auto;">
            <img src="assets/image/courier-with-parcel.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-5">
            <div class="row justify-content-center" style="font-family: 'Cardium B';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 66px;
                color: #000000;
                margin-left: auto; margin-right: auto;">
                We'll pick up & ship almost everything
            </div>

            <div class="row justify-content-center" style="margin-top: 12px;">
                <div class="row">
                    <div class="col-md-3" style="margin-top: auto; margin-bottom: auto;">
                        <img src="assets/image/678120.png" style="width: 60px; height: 60;" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <p class="card-title" style="font-family: 'Cardium B';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 33px;
                                
                                color: #000000;">
                                Pickup
                            </p>
                            <p class="card-text" style="font-family: 'Cardium B';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                
                                color: #494949;">
                                We’ll pick your returnable product from your doorstep
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center" style="margin-top: 12px;">
                <div class="row">
                    <div class="col-md-3" style="margin-top: auto; margin-bottom: auto;">
                        <img src="assets/image/678120.png" style="width: 60px; height: 60;" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <p class="card-title" style="font-family: 'Cardium B';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 33px;
                                
                                color: #000000;">
                                Shipment
                            </p>
                            <p class="card-text" style="font-family: 'Cardium B';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                
                                color: #494949;">
                                Then your returnable product shipped to desired place
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center" style="margin-top: 12px;">
                <div class="row">
                    <div class="col-md-3" style="margin-top: auto; margin-bottom: auto;">
                        <img src="assets/image/678120.png" style="width: 60px; height: 60;" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <p class="card-title" style="font-family: 'Cardium B';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 33px;
                                
                                color: #000000;">
                                Support
                            </p>
                            <p class="card-text" style="font-family: 'Cardium B';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                
                                color: #494949;">
                                From pickup to end process we’ll provide customer support
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 12px;">
                <button type="button" class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>
</div>


<!-- 3d-render-delivery-box-with-wings-flight-set 1 -->

<div class="container-fluid rectangleGreen">
    <!-- <img src='assets/image/3d-render.png' class="img-fluid" alt=""> -->
</div>


<!-- No Drivinf Bi Lines -->

<div class="rectangle34 conainer-fluid" style="margin-left: auto; margin-right: auto;">
    <p class="textDrive1">
        No driving. No lines.
    </p>
    <p class="textDrive2">
        No worries.
    </p>
    <p class="textDrive3">
        A Returnsimple will pick up your online returns right from your doorstep.
    </p>
</div>


<!-- We’ll handle the stress of packaging your returns -->

<div class="container paddingHandle">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="assets/image/iphone2.png" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-8">
            <div class="row textHandle text-center">
                <p>We’ll handle <span style="color: #000000;">the <br>stress of packaging<br> your returns</span></p>
            </div>
            <div class="row rectangle38">
                <p>Don't have a printer?</p>
            </div>
            <div class="row rectangle38">
                <p>Don't have a box?</p>
            </div>
            <div class="row rectangle38">
                <p>Who has a roll of tape lying around?</p>
            </div><br>
            <div class="container-fluid">
                <button type="button" class="btn btnFaq">FAQ's</button>
            </div>
        </div>
    </div>
</div>


<!-- ready to get Started -->

<div class="container-fluid rectangle49">
    <div class="row">
        <div class="col-sm-5 col-md-10">
            <br>
            <h1>Ready to get started?</h1>
            <p>See how easy it is and schedule your first pickup</p>
        </div>
        <div class="col-sm-1 col-md-2 text-center">
            <br><button type="button" class="btn  rounded">Schedule a pickup</button>
        </div>
    </div>
</div>


<!-- Footer -->

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-3 padding1">
                <h1 class="brandFooter">ReturnSimple</h1>
            </div>
            <div class="col-md-2 padding1">
                <h4>Company</h4>
                <br>
                <p>About Us</p>
                <p>Blogs</p>
                <p>Sign In</p>
            </div>
            <div class="col-md-2 padding1">
                <h4>Services</h4>
                <br>
                <p>Pricing</p>
                <p>FAQ's</p>
            </div>
            <div class="col-md-5 padding1">
                <h4>Not quite ready for ReturnSimple ?</h4>
                <br>
                <p>Join our community online, No Spam</p>
                <br>
                <div class="input-group text-align">
                    <input type="search" class="form-control rounded" placeholder="Enter your Email" aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-primary rounded">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>