<div class="wrapper container">
    <img src="src/assets/image/image.png" class="img-fluid" alt="">

    <div class="container">
        <div class="row">
            <p class="main-text1 w-auto p-3 h-auto d-inline-block">
                Return your product without leaving Your Home!
            </p>
        </div>
        <div class="row">
            <p class="main-text2 w-auto p-3 h-auto d-inline-block">
                We pick up returns purchased from any online retailer. No more printing labels, packaging or trips to
                the
                post
                office
            </p>
        </div>
        <div class="row">
            <div class="col rectangle7">
                <p id="getStarted">
                    Get Started
                </p>
            </div>
            <div class="col rectangle8">
                <p id="ourPricing">
                    Our Pricing
                </p>
            </div>
        </div>
        <div class="row">
            <div class="zipCode">

            </div>
        </div>
    </div>
</div>
<div class="container ">
    <p style="font-size: 20px; font-family: Poppins; font-weight: 500; text-align: center;">
        We have handled consumers returns from a variety of brands
    </p>
</div>