<div class="wrapper container">
    <img src="src/assets/image/image.png" class="img-fluid" alt="">

    <div class="container">
        <div class="row">
            <p class="main-text1 w-auto p-3 h-auto d-inline-block">
                Return your product without leaving Your Home!
            </p>
        </div>
        <div class="row">
            <p class="main-text2 w-auto p-3 h-auto d-inline-block">
                We pick up returns purchased from any online retailer. No more printing labels, packaging or trips to
                the
                post
                office
            </p>
        </div>
        <div class="row">
            <div class="col rectangle7">
                <p id="getStarted">
                    Get Started
                </p>
            </div>
            <div class="col rectangle8">
                <p id="ourPricing">
                    Our Pricing
                </p>
            </div>
        </div>
        <div class="row">
            <div class="zipCode">
            </div>
        </div>
    </div>
</div>
<!-- <div class="container ">
    <p style="font-size: 20px; font-family: Poppins; font-weight: 500; text-align: center; margin-top: 10px;">
        We have handled consumers returns from a variety of brands
    </p>
</div> -->

<!-- How it works -->
<div class="container">
    <p
        style="font-family: Cardium B; font-style: normal; font-size: 50px; font-weight: 600; line-height: 89px; text-align: center;">
        How <span style="color: #7DF9FF;"> it works</span>
    </p>
    <p style="font-family: Cardium B; font-style: normal; font-size: 20px;
     font-weight: 400; line-height: 28px; text-align: center; letter-spacing: 0.08em;">
        Send back returns in minutes
    </p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mx-auto">
        <div class="col mb-4">
            <div class="card cardProperties">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Schedule your pickup</h5>
                    <p class="card-text">Enter your pickup information and upload your return label</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card cardProperties">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Select your pickup method</h5>
                    <p class="card-text">Leave your package on the doorstep or choose direct handoff    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card cardProperties">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Get real-time updates</h5>
                    <p class="card-text">You receive a text when it’s been shipped</p>
                </div>
            </div>
        </div>
    </div>