* {
    font-family: 'Poppins';
    font-style: normal;
}

.wrapper {
    background: url("src/assets/image/image.png");
    position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

.main-text1 {
    /* Return your product without Leaving Your Home! */

    position: absolute;
    max-width: 603px;
    max-height: 211px;
    left: auto;
    top: 100px;

    font-family: 'Cardium B';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    /* or 113% */

    color: #FFFFFF;

    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}

.main-text2 {
    /* We pick up returns purchased from any online retailer. No more printing labels, packaging or trips to the post office */

    position: absolute;
    max-width: 598px;
    max-height: 52px;
    left: auto;
    top: 350px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    color: #FFFFFF;

    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.23);
}

.rectangle7 {
    /* Rectangle 7 */
    position: absolute;
    width: 160px;
    height: 55px;
    left: auto;
    top: 500px;

    background: #7DF9FF;
    box-shadow: 0px 14px 34px rgba(255, 149, 149, 0.18);
    border-radius: 0px 20px 20px 20px;
}

.rectangle8 {
    position: absolute;
    width: 160px;
    height: 55px;
    left: 300px;
    top: 500px;

    background: #FFFFFF;
    border: 2px solid #7DF9FF;
    border-radius: 20px 20px 0px 20px;
}

#getStarted {
    /* Get Started */
    margin-top: 7px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;

    color: #FFFFFF;
}

#ourPricing {
    /* Our Pricing */
    margin-top: 7px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;

    color: #7DF9FF;
}

.zipCode {
    /* Rectangle 9 */

    position: absolute;
    width: 360px;
    height: 55px;
    left: auto;
    top: 580px;

    background: #FFFFFF;
    border: 2px solid #7DF9FF;
    border-radius: 20px;
}

.cardProperties {
    max-width: 334px;
    min-height: 274px;

    background: #FFFFFF;
    border: 1px solid #7DF9FF;
    box-shadow: 0px 8px 30px rgba(125, 249, 255, 0.18);
    border-radius: 10px;
}

.rectangleGreen {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100%;
    height: 55px;
    background: #7DF9FF;
}

.rectangle34 {
    width: 80vw;
    height: 150px;
    margin: 22px;
    padding: 4px;

    background: #F5F5F5;
    border-radius: 20px;
}

.textDrive1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 102.52%;
    margin-bottom: 0%;
    color: #000000;
}

.textDrive2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0%;
    line-height: 102.52%;
    color: #7DF9FF;
}

.textDrive3 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.rectangle38 {
    width: 90%;
    height: 50px;
    margin: 25px;

    background: #FAFAFA;
    border: 1px solid #C9C9C9;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
    border-radius: 0px 20px 20px 20px;
}
.rectangle38 p{
    transform: translateY(40%);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}
.textHandle p{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #7DF9FF;
}
.btnFaq{
    width: 150px;
    height: 50px;
    margin-left: 1rem;
    background-color: #7DF9FF;
    box-shadow: 0px 8px 24px rgba(125, 249, 255, 0.22);
    border-radius: 0px 10px 10px 10px;
}
.paddingHandle{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.rectangle49 {
    width: 90%;
    height: 190px;
    transform: translateY(50%);

    background: #7DF9FF;
    box-shadow: 0px 14px 24px rgba(125, 249, 255, 0.22);
    border-radius: 20px;
}
.rectangle49 h1, p{
    color: #FFFFFF;
    letter-spacing: 0.08em;
}
.rectangle49 button{
    background-color: #FFFFFF;
    letter-spacing: 0.015em;
    color: #000000;
}

footer {
    background-color: #000000;
}

footer .padding {
    padding-top: 12rem;
}

footer div .padding1 {
    padding-bottom: 3rem;
}

footer h4 {
    color: #F2F2F2;
}

footer p {
    color: #FFFFFF;
}

footer .form-control {
    margin-left: 10% !important;
    margin-right: 2% !important;
}

footer button {
    background-color: #7DF9FF;
    ;
}

@media screen and (max-width: 575px) {

    .rectangle49 {
        height: 200px;
    }

    .main-text1 {
        /* Return your product without Leaving Your Home! */

        position: absolute;
        max-width: 403px;
        max-height: 211px;
        left: auto;
        top: 130px;

        font-family: 'Cardium B';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 68px;
        /* or 113% */

        color: #FFFFFF;

        text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    }

    .main-text2 {
        /* We pick up returns purchased from any online retailer. No more printing labels, packaging or trips to the post office */

        position: absolute;
        max-width: 398px;
        max-height: 52px;
        left: auto;
        top: 440px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */

        color: #FFFFFF;

        text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.23);
    }


    .rectangle7 {
        /* Rectangle 7 */
        position: absolute;
        width: 150px;
        height: 55px;
        left: auto;
        top: 640px;

        background: #7DF9FF;
        box-shadow: 0px 14px 34px rgba(255, 149, 149, 0.18);
        border-radius: 0px 20px 20px 20px;
    }

    .rectangle8 {
        position: absolute;
        width: 150px;
        height: 55px;
        left: 200px;
        top: 640px;

        background: #FFFFFF;
        border: 2px solid #7DF9FF;
        border-radius: 20px 20px 0px 20px;
    }

    .zipCode {
        /* Rectangle 9 */

        position: absolute;
        width: 340px;
        height: 55px;
        left: auto;
        top: 730px;

        background: #FFFFFF;
        border: 2px solid #7DF9FF;
        border-radius: 20px;
    }


    .textDrive1 {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 102.52%;
        margin-bottom: 0%;
        color: #000000;
    }

    .textDrive2 {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0%;
        line-height: 102.52%;
        color: #7DF9FF;
    }

    .textDrive3 {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;

        color: #000000;
    }

    .rectangle38 {
        height: 40px;
    }
    .textHandle p{
        font-size: 30px;
    }
    .rectangle38 p{
        font-size: 12px;
    }
    .btnFaq{
        height: 40px;
     }
    .paddingHandle{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}