<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <div class="rectangle">
            <p class="navbar-brand">ReturnSimple</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <!-- aria-controls="navbarNav" aria-expanded="flase" aria-label="Toggle navigation"> -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/home'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/profile'>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/task'>Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/about'>How it works</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/home'>Sign In</a>
                </li>
                <div class="rectangle1">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/home'>Schedule a Pickup</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>