<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="rectangle">
            <p class="navbar-brand">
                ReturnSimple
            </p>
        </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="navLeftItem">
                <li class="nav-item">
                    <a class="nav-link" id="para1" routerLink='/home'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/profile'>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/task'>Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/about'>How it works</a>
                </li>
            </ul>
        </div>
    </div>
</nav>