nav {
    background-color: #7DF9FF;
}

.navbar-brand {
    text-align: center;
    color: #7DF9FF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.rectangle {
    width: 200px;
    height: 40px;
    /* transform: translateX(-50%);
    left: 50%; */
    /* position: relative; */
    /* left: 586px;
    top: 26px; */

    background: #FEFEFE;
    border-radius: 10px;
}

.rectangle1 {
    width: 140px;
    height: 40px;

    background: #FFFFFF;
    border-radius: 0px 10px 10px 10px;
}

.nav-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #000000;
}