<!-- ready to get Started -->

<div class="container-fluid rectangle49">
    <div class="row">
        <div class="col-md-10">
            <h1>Ready to get started?</h1>
            <p>See how easy it is and schedule your first pickup</p>
        </div>
        <div class="col-md-2 text-center">
            <button type="button" class="btn  rounded">Schedule a pickup</button>
        </div>
    </div>
</div>


<!-- Footer -->

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-3 padding1">
                <h1 class="brandFooter"><img src="assets/image/logo.png" class="img-fluid" alt="logo"></h1>
            </div>
            <div class="col-md-2 padding1">
                <h4>Company</h4>
                <br>
                <a class="nav-link" routerLink="/about"><p>About Us</p></a>
                <a class="nav-link" href="#"><p>Blogs</p></a>
                <a class="nav-link" href="#"><p>Sign In</p></a>
            </div>
            <div class="col-md-2 padding1">
                <h4>Services</h4>
                <br>
                <a class="nav-link" href="#"><p>Pricing</p></a>
                <a class="nav-link" href="#"><p>FAQ's</p></a>
            </div>
            <div class="col-md-5 padding1">
                <h4>Not quite ready for ReturnSimple ?</h4>
                <br>
                <p>Join our community online, No Spam</p>
                <br>
                <div class="input-group text-align">
                    <input type="search" class="form-control rounded" placeholder="Enter your Email" aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-primary rounded">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>