<!-- welcome content -->
<div class="container-fluid rectangle10">
    <div class="row">
        <div class="col-md-6">
            <p class="heading1">Pick a plan <span style="color: black;"> that’s <br> right for you.</span></p>
            <p>Pricing plan for every type of shopper</p>
            <div class="boxRating col-10">
                <p class="text2">Rated 4.79/5 over 1000+ reviews.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/image/woman.png" class="img-fluid" alt="logo">
        </div>
    </div>
</div>

<!-- choose a plan -->

<div class="container-fluid text-center plan">
    <h1>Choose a plan</h1>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-8 rectangle65">
            <div class="text-center blackBox">
                <h4 class="text">Pay as you go</h4>
                <h1 class="text">$9.00</h1>
                <p class="text">per pickup (incl. first package) +$0.99 each addt’l package</p>
            </div>
            <div style="padding: 1%;">
                <p class="benefits">Free label printing</p><span style="float: left;"><img
                        src="assets/image/select.png"></span>
                <hr>
                <p class="benefits">Free boxes</p><span style="float: left;"><img src="assets/image/select.png"></span>
                <hr>
                <p class="benefits">Email and phone support</p><span style="float: left;"><img
                        src="assets/image/select.png"></span>
                <hr style="visibility: hidden; margin-bottom: 0%;">
                <p style="visibility: hidden;">Unlimited pickups and packages</p>
                <button type="button" class="btn rounded">Pay Now</button>
            </div>
        </div>
        <div class="col-md-4 col-8 rectangle65">
            <div class="premium-icon text-center" style="float: right;"><img style="width: 50px; height: 50px; padding: 10%;" src="assets/image/premium.png"></div>
            <div class="text-center blackBox">
                <h4 class="text">Membership</h4>
                <h1 class="text">$19.00</h1>
                <p class="text">unlimited pickups and package returns</p>
            </div>
            <div style="padding: 1%;">
                <p class="benefits">Unlimited pickups and packages</p><span style="float: left;"><img
                        src="assets/image/select.png"></span>
                <hr>
                <p class="benefits">Free label printing</p><span style="float: left;"><img
                        src="assets/image/select.png"></span>
                <hr>
                <p class="benefits">Free boxes</p><span style="float: left;"><img src="assets/image/select.png"></span>
                <hr>
                <p class="benefits">Email and phone support</p><span style="float: left;"><img
                        src="assets/image/select.png"></span>
                <button type="button" class="btn rounded">Pay Now</button>
            </div>
        </div>
    </div>
</div>

<!-- Frequently Asked Questions -->

<div class="container-fluid text-center plan">
    <h1>Frequently Asked
        Questions</h1>
    <p class="loremText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been
        the industry's standard dummy text ever since the 1500s,</p>
</div>

<!-- How does ReturnSimple work? -->

<div class="paddingCollapse">
    <div class="container-fluid rectangle83">
        <div class="accordion-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            How does ReturnSimple work?<span style="float: right;"><img src="assets/image/up-arrow.png"></span>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                ReturnSimple allows you to return any online purchase without leaving home. We pick
                them up from your house, <br> print the label (if necessary), repackage it and ship it back for you
            </div>
        </div>
    </div>

    <div class="container-fluid rectangle83">
        <div class="accordion-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            Do you accept returns from any retailer and any carrier?<span style="float: right;"><img
                    src="assets/image/up-arrow.png"></span>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                ReturnSimple allows you to return any online purchase without leaving home. We pick
                them up from your house, print the label (if necessary), repackage it and ship it back for you
            </div>
        </div>
    </div>

    <div class="container-fluid rectangle83">
        <div class="accordion-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
            aria-expanded="true" aria-controls="collapseThree">
            Can I cancel anytime?<span style="float: right;"><img src="assets/image/up-arrow.png"></span>
        </div>
        <div id="collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                ReturnSimple allows you to return any online purchase without leaving home. We pick
                them up from your house, print the label (if necessary), repackage it and ship it back for you
            </div>
        </div>
    </div>

    <div class="container-fluid rectangle83">
        <div class="accordion-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
            aria-expanded="true" aria-controls="collapseFour">
            How do I know what plan is best for me?<span style="float: right;"><img
                    src="assets/image/up-arrow.png"></span>
        </div>
        <div id="collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
                ReturnSimple allows you to return any online purchase without leaving home. We pick
                them up from your house, print the label (if necessary), repackage it and ship it back for you
            </div>
        </div>
    </div>

    <div class="container-fluid rectangle83">
        <div class="accordion-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
            aria-expanded="true" aria-controls="collapseFive">
            Does your service process my refund?<span style="float: right;"><img src="assets/image/up-arrow.png"></span>
        </div>
        <div id="collapseFive" class="accordion-collapse collapse">
            <div class="accordion-body">
                ReturnSimple allows you to return any online purchase without leaving home. We pick
                them up from your house, print the label (if necessary), repackage it and ship it back for you
            </div>
        </div>
    </div>

    <div class="container-fluid rectangle83">
        <div class="accordion-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
            aria-expanded="true" aria-controls="collapseSix">
            Is there a size limit on returns?<span style="float: right;"><img src="assets/image/up-arrow.png"></span>
        </div>
        <div id="collapseSix" class="accordion-collapse collapse">
            <div class="accordion-body">
                ReturnSimple allows you to return any online purchase without leaving home. We pick
                them up from your house, print the label (if necessary), repackage it and ship it back for you
            </div>
        </div>
    </div>
</div>


<!-- connect with add -->

<div class="container-fluid text-center connect">
    <div class="container-fluid">
        <h5>We have handled consumers returns from a variety of brands</h5>
    </div>
    <div class="col-12 container-fluid">
        <a href="#"><img src="assets/image/bestBuy.png" class="img-fluid padding" alt="Best Buy"></a>
        <a href="#"><img src="assets/image/walmart.png" class="img-fluid padding" alt="Walmart"></a>
        <a href="#"><img src="assets/image/amazon.png" class="img-fluid padding" alt="Amazon"></a>
        <a href="#"><img src="assets/image/zara.png" class="img-fluid padding" alt="Zara"></a>
        <a href="#"><img src="assets/image/Zappos.png" class="img-fluid padding" alt="Zappos"></a>
        <a href="#"><img src="assets/image/poshmark.png" class="img-fluid padding" alt="Poshmark"></a>
    </div>
</div>